@tailwind base;
@tailwind components;
@tailwind utilities;

/* Optional: nicer default background + text */
html,
body {
  height: 100%;
}

/* Smooth fonts */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
